### What are Tuples?
- Tuples are used to store multiple items in a single variable.     

**Tuple Characteristics**       
- Ordered:       
    - Tuples have a defined order that does not change.     
- Unchangeable:     
    - Once created, you cannot change, add, or remove items from a tuple.     
- Allow Duplicates:     
    - Tuples can have duplicate values.

#### Syntax and Examples
**Create a Tuple**:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Allow Duplicate Values:**

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Tuple Length:**

In [7]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**Create a Tuple with One Item:**     
- Add a comma after the single item:

In [9]:
thistuple = ("apple",)
print(type(thistuple))  

# NOT a tuple:
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**Tuple Items - Data Types:**
- Tuples can contain items of different data types:

In [11]:
tuple1 = ("apple", "banana", "cherry")  # Strings
tuple2 = (1, 5, 7, 9, 3)               # Integers
tuple3 = (True, False, False)          # Booleans
tuple4 = ("abc", 34, True, 40, "male")  # Mixed types

**Check Tuple Data Type:**
- Tuples are defined as objects with the data type 'tuple':

In [13]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

**Create a Tuple Using the tuple() Constructor:**

In [15]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

**Access Tuple Items**
- Access Items by Index:

In [17]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

**Negative Indexing:**
- Use negative indexing to access items from the end of the tuple:

In [19]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

**Range of Indexes:**
- Specify a range of indexes to return a new tuple with the specified items:

In [21]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

- Omitting Start Index:

In [23]:
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

- Omitting End Index:

In [25]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

**Range of Negative Indexes:**
- Use negative indexes to specify a range starting from the end of the tuple

In [27]:
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

**Check if Item Exists:**
- Use the in keyword to check if an item exists in the tuple:

In [29]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

### Update Tuples
- Tuples are immutable, meaning you cannot change, add, or remove items once the tuple is created.
- However, there are workarounds.

**Change Tuple Values:**
- Convert the tuple into a list, change the list, and convert it back into a tuple

In [32]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi" 
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

**Convert to a List:**
- Convert the tuple to a list, add the item(s), and convert it back into a tuple:

In [35]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")  
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Add Tuple to Tuple:**
- Create a new tuple with the item(s) and concatenate it with the existing tuple

In [37]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items
Tuples do not support item removal directly, but you can use a workaround:

**Convert to a List:**
- Convert the tuple into a list, remove the item(s), and convert it back into a tuple:

In [40]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")  
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

**Delete the Entire Tuple:**
- Use the del keyword to delete the tuple completely

In [42]:
thistuple = ("apple", "banana", "cherry")
del thistuple

### Unpack Tuples

**Packing and Unpacking a Tuple**  
- Packing: Assigning values to a tuple:

In [45]:
fruits = ("apple", "banana", "cherry")  # Packing

- Unpacking: Extracting values back into variables:

In [47]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits  # Unpacking
print(green)  
print(yellow)  
print(red)

apple
banana
cherry

Note: The number of variables must match the number of values in the tuple.

**Using Asterisk (*):**
- If the number of variables is less than the number of tuple values, use * to assign the remaining values as a list to one variable.

In [50]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits
print(green)  
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

**Asterisk Not at the End:**
- If the * is added to a variable other than the last one, Python assigns values until the number of remaining values matches the number of remaining variables.

In [52]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits
print(green)  
print(tropic)  
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Loop Tuples

**Loop Through a Tuple:**
- Use a for loop to iterate through the items in a tuple:

In [55]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

**Loop Through the Index Numbers:**
- Use the range() and len() functions to loop through a tuple by index

In [57]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

**Using a While Loop:**
- Use a while loop to iterate through the tuple

In [59]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

### Join Tuples

**Join Two Tuples:**

In [62]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples:**

In [64]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Tuple Methods

**count():**
- Returns the number of times a specified value occurs in a tuple.

In [67]:
thistuple = ("apple", "banana", "cherry", "apple", "apple")
count_apple = thistuple.count("apple")
print(count_apple)

3

**index():**
- Searches the tuple for a specified value and returns the index of its first occurrence

In [69]:
thistuple = ("apple", "banana", "cherry", "apple")
index_banana = thistuple.index("banana")
print(index_banana)

1

### Homework Coding Exercises

**1. Count Specific Items in a Tuple**      
Write a code to Count how many times a specific item occurs in the tuple using the count() method for the given tuple.

In [72]:
mytuple1 = (5, 3, 8, 3, 2, 3, 9)

Task:      
1. Count how many times 3 appears in the tuple.    
2. Count how many times 5 appears in the tuple.

**2. Find Index of an Item in a Tuple**   
Write a program to find the index of a specific number using the index() method for given tuple.

In [75]:
mytuple2 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

**Task:**

1. Find the index of 40.
2. Find the index of 90.

### 3. Unpack and Modify a Tuple

Write a code to unpack the following tuple into variables, modify one of the values, and create a new tuple.

In [79]:
fruits = ("apple", "banana", "cherry")

**Task:**

1. Unpack the tuple into variables: fruit1, fruit2, fruit3.
2. Change fruit2 to "kiwi".
3. Create a new tuple with the modified values.

**4. Concatenate (Join) and Multiply Tuples**    
Write a code to concatenate two tuples and multiply the resulting tuple by 2 for following tuple.

In [82]:
tuple1 = ("A", "B", "C")
tuple2 = (1, 2, 3)

**Task:**
1. Create a new tuple by concatenating tuple1 and tuple2.
2. Multiply the resulting tuple by 2.

**5. Access Items Using Index and Slicing**    
Write a code to:

1. Access the 3rd item from the tuple.
2. Access the last 2 items from the tuple using negative indexing.
3. Slice the tuple to get the first 5 items.

In [85]:
alpha = ("a", "b", "c", "d", "e", "f", "g", "h", "i", "j")